token.txt
FaceMorphing/TestFoto.png
FaceMorphing/imageWithLandmarks.png
FaceMorphing/code.txt
FaceMorphing/importJPG
FaceMorphing/outputPNG
DeepFace/Persons
DeepFace/TestIMG
FaceMorphing/TestPhase1
BachelorThesis/CLIP_Modell
BachelorThesis/replicate
BachelorThesis/stableDif